rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acesso público a todas as coleções
    match /{document=**} {
      allow read, write: if true;  // Permite acesso total sem restrições
    }
  }
} 